<%- include('./partials/header.ejs') %>

<div class="home">
    <div>
        <img src="" alt="Logo">
    </div>
    <div>
        <a href="/login">Login</a>
        <a href="/signup">Sig up</a>
    </div>
</div>

<%- include('./partials/footer.ejs') %>